<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.micovid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ap_removebg"
        android:label="VacunAR"
        android:roundIcon="@drawable/logo_ap_removebg"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiCovid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".pantallaprincipal.ComoJugarActivity"
            android:label="@string/title_activity_como_jugar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".juego.PuntuacionesActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".juego.GameOverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".juego.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallaprincipal.PantallaInicioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registrar.RegistrarActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".actividadprincipal.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>